WPFCanvasChartSolution/WPFCanvasChart/bin
WPFCanvasChartSolution/WPFCanvasChart/obj
WPFCanvasChartSolution/WPFCanvasChartTest/bin
WPFCanvasChartSolution/WPFCanvasChartTest/obj
WPFCanvasChartSolution/WPFBarChartControl/bin
WPFCanvasChartSolution/WPFBarChartControl/obj
WPFCanvasChartSolution/WPFBarChartExample/bin
WPFCanvasChartSolution/WPFBarChartExample/obj